@import url("https://fonts.googleapis.com/css2?family=Kurale&family=Montserrat&display=swap");

h1,
h2,
h3,
dt {
    font-family: "Kurale", serif;
}

h1 {
    color: #17a7ad;
    font-size: 3rem;
}

h2 {
    color: #17a7ad;
    font-size: 2rem;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #fdfaf6;
}

.app-wrapper {
    margin: 3rem 10rem;
}

.beer-results {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
}

.beer-item {
    padding: 1rem;
    border: 1px solid #17a7ad;
    background-color: #f7f7f7;
    cursor: pointer;
    transition: all 0.5s;
}
.beer-item:hover {
    background-color: #fff;
    border-color: #f15f22;
    transform: scale(1.05);
}

.result-stats {
    margin-left: 2rem;
}

.beer-color {
    width: 0.8rem;
    height: 0.8rem;
    display: inline-block;
    margin-right: 0.5rem;
}

.search-form {
    margin-top: 2rem;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
}

.text-input {
    grid-column: 1 / 3;
}

.search-input {
    padding: 0.8rem;
    width: 100%;
    border: 1px solid #17a7ad;
    border-radius: 0px;
    background-color: #f7f7f7;
}

.search-input:focus,
.selector-input:focus {
    background-color: #fff;
}

.selector-input {
    padding: 0.8rem;
    width: 100%;
    border: 1px solid #17a7ad;
    border-radius: 0px;
    background-color: #f7f7f7;
}

.search-label {
    font-weight: 700;
}

.selector-label {
    display: block;
    padding-bottom: 0.5rem;
}

dt {
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}

.beer-info {
    border: 1px solid #17a7ad;
    padding: 1rem 2rem;
    margin-top: 1rem;
    background-color: #fff;
    position: relative;
}

.beer-info h2 {
    margin-top: 0;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

h1 {
    margin: 0;
}

.beer-icon {
    margin: 0 0.5rem;
}

.close-button {
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    color: #f15f22;
    transition: all 0.5s;
}

.close-button:hover {
    transform: rotate(90deg);
}

.reset-btn {
    padding: 0.8rem;
    width: auto;
    border: 1px solid #f15f22;
    color: #f15f22;
    border-radius: 0px;
    background-color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.5s;
}

.reset-btn:hover {
    color: #fff;
    background-color: #f15f22;
}

.error {
    margin: 1rem 0;
    padding: 2rem;
    background-color: #fff;
    font-size: 1.5rem;
    text-align: center;
    border: 1px solid #f15f22;
}

.footer-text {
    margin-top: 2rem;
    padding-top: 0.5rem;
    border-top: 1px solid #17a7ad;
    font-size: 0.5rem;
    text-align: right;
}
