.app-wrapper {
    margin: 3rem;
}

.beer-item {
    padding: 1rem;
    border: 1px solid #bbb;
    cursor: pointer;
    margin: 0.5rem;
    width: 25%;
    display: inline-block;
}
.beer-item:hover {
    background-color: #eee;
}

.beer-color {
    width: 0.8rem;
    height: 0.8rem;
    display: inline-block;
    margin-right: 0.5rem;
}

.search-form {
    width: 75%;
}

.search-input {
    padding: 0.8rem;
    width: 75%;
    border: 1px solid #bbb;
    border-radius: 0px;
}

.selector-input {
    padding: 0.8rem;
    width: 95%;
    border: 1px solid #bbb;
    border-radius: 0px;
}

.selector-group {
    display: inline-block;
    width: 33.33%;
    padding-top: 0.5rem;
}

.search-label {
    font-weight: 700;
}

.selector-label {
    display: block;
    padding-bottom: 0.5rem;
}

dt {
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0.2rem;
}

.beer-info {
    border: 1px solid #bbb;
    padding: 1rem 2rem;
    margin-top: 1rem;
    background-color: #f8f8ff;
    position: relative;
}

.beer-info h2 {
    margin-top: 0;
}

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

h1 {
    margin: 0;
}

.beer-icon {
    margin: 0 0.5rem;
}

.close-button {
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}
